<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Cursed Heaven v0.3.</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
	<camera initialX="0" initialY="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>  
  
  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <player>
	<blackMage>
	  <size width="18" height="8"/>
	  <margin x="2" y="20" colisionMargin="3"/>
	  <speed>
	    <movement horizontal="80.0f" godmode="80.0f"/>
	  </speed>
	  <attack blittingX="-15" blittingY="-2" rightColliderSpawnPos="20" leftColliderSpawnPos="-16"/>
	  <combat basicDamage="200" fireDamage="100" lifePoints="100" resitance="50"/>
	  <cooldowns Q="10000" E="15000" increasedSpeed="5000" explosion="570"/>
	</blackMage>
	
	<dragoonKnight>
	  <size width="18" height="8"/>
	  <margin x="2" y="20" colisionMargin="3"/>
	  <speed>
	    <movement horizontal="80.0f" godmode="80.0f"/>
	  </speed>
	  <attack blittingX="-15" blittingY="-2" rightColliderSpawnPos="20" leftColliderSpawnPos="-16"/>
	  <combat basicDamage="150" rageDamage="100" dashSpeed="300" lifePoints="200" resitance="100"/>
	  <cooldowns Q="5000" E="25000" rage="5000"/>
	</dragoonKnight>
	
  </player>  
  
  <entityManager updateMsCycle="0.1f"/>
  
  <slime speed="70.0f" life="200">
	  <margin x="10" y="10"/>
	  <colliderSize w="25" h="23"/>
  </slime>

  <map>
	<blitSpeed backgrounds="0.7f" fog="0.85f" map="1.0f"/>
    <folder>maps/</folder>
  </map>  
  
  <gui>
	<scale buttonsScale="0.5f" boxScale="0.23f" logoScale="0.2f"/>
	<positions settingsPositionX="54" settingsPositionY="10"/>
	<sliderLimits maximum="108" minimum="58"/>
	<colors a="255">
		<beige r="245" g="245" b="220"/>
		<brown r="73" g="31" b="10"/>
		<grey r="134" g="136" b="138"/>
	</colors>
  </gui>
  
  <menu>
  </menu>
  
  <credits>
  </credits>
  
  <scene1>
	<camera cameraLimit="-8570" playerLimit="2374"/>
	<initialPlayerPosition x="1" y="25"/>
  </scene1>
  
  <scene2>  
	<initialPlayerPosition x="1" y="56"/>
	<camera cameraLimit="-8570" playerLimit="2374"/>
  </scene2>

</config>